body {
    background-color: #201c2b;
    color: #e5e3e8;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#board_top {
    left: calc(50% - 159px);
    height: 54.6px;
    position: fixed;
    width: 318px;
}

/* ID sharing off pop up */

#id_off {
    animation: expand .5s;
    background-color: #342b4d;
    border-radius: 15px;
    left: calc(50% - 129px);
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 20%;
    width: 258px;
    z-index: 1000;
}

@keyframes expand {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#close_pop {
    background-color: inherit;
    float: right;
}

/* Title properties */

#title {
    font-size: 15px;
    padding: 7px;
    text-align: center;
}

#title:hover{
    cursor: default;
}

/* Search functionality */

#search_div {
    background-color: #2e2a38;
    color: inherit;
    height: 23px;
    left: calc(50% - 159px);
    width: 318px;
}

#search {
    background-color: inherit;
    border: 0;
    color: inherit;
    outline: 0;
    padding: 2px;
    width: 230px;
}

/* Style for buttons around the search bar */

.search_div_buttons {
    background-color: #363144;
    height: 23px;
    overflow: hidden;
    padding: 0;
    transition: background-color .5s ease, width .5s ease;
    width: 75px;
}

.hide_button {
    overflow: hidden;
    width: 0;
}

/* Refresh leaderboard button */

#refresh {
    float: right;
}

/* Leaderboard */

.list {
    background-color: #2e293d;
    color: inherit;
    margin-top: -2.5px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    width: 318px;
}

.order_align {
    float: left;
}

.time_align {
    float: right;
}


/* Period tabs  */

#tabs {
    background-color: #363144;
    bottom: 0;
    height: 35px;
    left: calc(50% - 159px);
    position: fixed;
    width: 318px;
}

.tabtimes {
    background-color: inherit;
    float: left;
    height: 35px;
    width: 63.6px;
}

/* Buttons in general */

button {
    border: 0;
    color: inherit;
    outline: 0;
    transition: background-color .5s ease;
}

button:hover {
    background-color: #2b253a;
    cursor: pointer;
}

button:active {
    background-color: #262230;
    cursor: pointer;
}

.active {
    background-color: #262230;
    cursor: pointer;
}

/* Part where viewers get listed */

#leaderboard {
    left: calc(50% - 159px);
    height: 350.4px;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    top: 62.6px;
    width: 318px;
}

.list_toggle {
    background-color: #4c3c78;
    float: right;
    height: 30px;
}

/* Individual view */

.individual_view {
    display: none;
    height: 250px;
    left: calc(50% - 159px);
    width: 313px;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: #342b4d;
    border-radius: 15px;
}
